apiVersion: v1
kind: Template
objects:
  - apiVersion: v1
    kind: Service
    metadata:
      # The name must be equal to TcpDiscoveryKubernetesIpFinder.serviceName
      name: "{{ deployment_name }}-ignite"
      # The name must be equal to TcpDiscoveryKubernetesIpFinder.namespace
      #namespace: {{ namespace }}
      labels:
        app: "{{ deployment_name }}-ignite"
    spec:
      type: LoadBalancer
      ports:
        - name: rest
          port: 8080
          targetPort: 8080
      selector:
        # Must be equal to the label set for pods.
        app: "{{ deployment_name }}"
    status:
      loadBalancer: {}
